@media only screen and (min-width: 0px) and (max-width: 400px) {
  .header {
    height: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo {
    cursor: pointer;
    height: 1rem;
  }
  .fa-solid,
  .fa-dumbbell {
    font-size: 2rem;
  }
  .section .head {
    font-size: 1.2rem;
  }
  .nav-items {
    width: 20rem;
    font-size: 0.8rem;
  }
  .logo h2 {
    font-size: 0.6rem;
  }
  .section {
    margin-top: 3rem;
  }
  .section form {
    margin-left: 20px;
    border-radius: 12px;
    width: 60vw;
    height: 50vh;
  }
  .section input {
    font-size: 0.4rem;
    margin: 3px 8px;
    border-radius: 8px;
    border: none;
    line-height: 0.5rem;
    width: 63%;
  }
  .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 401px) and (max-width: 600px) {
  body {
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
  }
  .header {
    height: 50px;
    flex-wrap: wrap;
    justify-content: center;
  }
  .logo {
    cursor: pointer;
    height: 1rem;
  }
  .fa-solid,
  .fa-dumbbell {
    font-size: 2rem;
  }
  .section .head {
    font-size: 1.2rem;
  }
  .nav-items {
    width: 20rem;
    font-size: 0.8rem;
  }
  .logo h2 {
    font-size: 0.8rem;
  }
  .section {
    margin-top: 1rem;
  }
  .section form {
    margin-left: 20px;
    border-radius: 12px;
    width: 60vw;
    height: 65vh;
  }
  .section input {
    font-size: 0.5rem;
    margin: 3px 8px;
    border-radius: 8px;
    border: none;
    width: 63%;
  }
  .section form {
    margin-left: 20px;
    margin-top: 3rem;
    border: 2px solid white;
    border-radius: 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    height: 40vh;
  }
  .btn-primary {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
  }
}
